    * {
        margin:0;
        padding: 0;
    }

    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 20%;
        background-color: rgb(34 52 129 / 60%);
    }   
    
    .fundo {
        background-color: rgb(8, 148, 252);
    }
    
    .pesquisa{
        width: 35%;
        height: 25px;
        font-size: 13px;
        padding: 5px;
        border-radius: 50px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        margin-left: 30px;
        background-image: url('imagens/lupa.png');
        background-repeat: no-repeat;
        background-position: 390px center;
        background-size: 25px 25px;
    }
    
    .texto {
        margin-left: 20px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-decoration: underline;
    }

    .centro{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login{
        background-color: rgb(73, 176, 255);
        width: 34%;
        height: 30px;
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #999;
        border-radius: 10px;
        outline: none;
    }

    .login:focus{
        border: 1px solid #555;
    }

    .esquerda {
        align-items: center;
        justify-content: center;
    }

    .botao-login {
        padding: 15px 35px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        background-color: white;
        color: rgb(8, 148, 252);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s transform 0.3;
    }
    
    .botao-login:hover {
        background-color: #e0e0e0;
        opacity: 0.9;
        transform: scale(1.05)
    }