    p, span {
        word-break: break-word;
    } 
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    a {
        text-decoration: none;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      html, body {
        overflow-x: hidden;
        width: 100%;
      }

    main {
        flex: 1;
    }

    .menu {
        position: fixed;
        z-index: 9999;
        position: fixed;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 2% 20%;
        background-color: rgb(34 52 129 / 60%);
    }   
    
    .fundo {
        background-color: rgb(8, 148, 252);
    }
    
    .pesquisa{
        width: 30vw;
        height: 2vw;
        font-size: 15px;
        padding: 8px 12px;
        border-radius: 5vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: 2vw;
        background-image: url('../imagens/faixa/lupa.png');
        background-repeat: no-repeat;
        background-position: 33vw center;
        background-size: 25px 25px;
    }
    
    .pesquisa:focus{
        border: 1px solid #555;
    }


    .texto2{
        text-shadow: 2px 2px 4px #000000;
        opacity: 0.8;
        color: #5effe3;
        font-size: 40px;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    
    .texto {
        margin-left: 3vw;
        transition: all 0.3s ease;
        text-shadow: 2px 2px 4px #000000;
        opacity: 0.8;
        transform: rotate(-5deg);
        color: white;
        font-size: 22px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s transform 0.3;
    }
    .texto:hover{
        transform: scale(1.1);
        color: #31dcd0;
        opacity: 0.9;
        transform: scale(1.05)
    }

    .centro{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login{
        width: 35%;
        height: 2.5vw;
        padding: 8px 12px;
        font-size: 16px;
        border: 2px solid #999;
        border-radius: 10px;
        outline: none;
    }

    .login:focus{
        border: 1px solid #555;
    }

    .esquerda {
        align-items: center;
        justify-content: center;
    }

    .botao-login {
        padding: 15px 70px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        background-color: white;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s transform 0.3;
    }
    
    .botao-login:hover {
        background-color: #e0e0e0;
        opacity: 0.8;
        transform: scale(1.05)
    }

    .primeiroLogin{
        font-weight: normal;
        margin-top: -10vw;
        margin-left: -63vh;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .segundoLogin{
        font-weight: normal;
        margin-top: 2vw;
        margin-left: -60vh; 
        color: white;
        font-family: Arial, Helvetica, sans-serif; 
    }

    .esqueceuSenha{
        font-size: 18px;
        font-weight: normal;
        margin-top: 0.521vw;
        margin-left: 25vw;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        cursor: pointer
    }
    
    .imagens{
        height: 29.7vw;
    }
        
    .texto3 {
        text-shadow: 2px 2px 4px #000000;
        opacity: 0.8;
        color: white;
        font-size: 22px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #5effe3;
    }

    .imagemSobre{
        border-radius: 12px;
    }

    .produtosMenu{
        width: 250px;
        text-align: center;
        word-wrap: break-word;
        text-align: center;
        width: 12vw;
        height: 20vw;
        background-color: white;
        border-radius: 10px;
        padding: 0.5vw;
        text-align: center;
        color: black;
    }


    .produtos{
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .produtos2{
        width: 30vw;
        height: 30vw;
    }

    .footer {
        background-color: rgb(34 52 129 / 60%);
        width: 100%;
        padding: 2rem 0;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    .logo{
        position: absolute;
        left: 3vw;
        height: 40px;
        }
      
      .produto-container{
        max-width: 1000px;
        margin: 100px auto;
        padding: 20px;
      }
      
      .produto-img {
        max-width: 100%;
        border-radius: 10px;
      }
      