
    a {
        text-decoration: none;
    }
    
    * {
        margin:0;
        padding: 0;
    }

    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 2% 20%;
        background-color: rgb(34 52 129 / 60%);
    }   
    
    .fundo {
        background-color: rgb(8, 148, 252);
    }
    
    .pesquisa{
        width: 35vw;
        height: 2vw;
        font-size: 15px;
        padding: 8px 12px;
        border-radius: 5vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: 2vw;
        background-image: url('imagens/faixa/lupa.png');
        background-repeat: no-repeat;
        background-position: 35vw center;
        background-size: 25px 25px;
    }
    
    .pesquisa:focus{
        border: 1px solid #555;
    }


    .texto2{
        text-shadow: 2px 2px 4px #000000;
        opacity: 0.8;
        color: #5effe3;
        font-size: 40px;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }
    
    .texto {
        transition: all 0.3s ease;
        text-shadow: 2px 2px 4px #000000;
        opacity: 0.8;
        transform: rotate(-5deg);
        color: white;
        margin-left: 3vw;
        font-size: 22px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s transform 0.3;
    }
    .texto:hover{
        transform: scale(1.1);
    }

    .texto:hover{
        color: #31dcd0;
        opacity: 0.9;
        transform: scale(1.05)
    }

    .centro{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login{
        background-color: rgb(73, 176, 255);
        width: 35%;
        height: 2.5vw;
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #999;
        border-radius: 10px;
        outline: none;
    }

    .login:focus{
        border: 1px solid #555;
    }

    .esquerda {
        align-items: center;
        justify-content: center;
    }

    .botao-login {
        padding: 15px 70px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        background-color: white;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, opacity 0.3s transform 0.3;
    }
    
    .botao-login:hover {
        background-color: #e0e0e0;
        opacity: 0.8;
        transform: scale(1.05)
    }

    .primeiroLogin{
        font-weight: normal;
        margin-top: -10vw;
        margin-left: -63vh;
        color: white;
        font-family: Arial, Helvetica, sans-serif; 
    }

    .segundoLogin{
        font-weight: normal;
        margin-top: 2vw;
        margin-left: -63vh; 
        color: white;
        font-family: Arial, Helvetica, sans-serif; 
    }

    .esqueceuSenha{
        font-weight: normal;
        margin-top: 0.521vw;
        margin-left: 26vw;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        cursor: pointer
    }
    
    .imagens{
        height: 29.7vw;
    }